@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.HomeTittle{
    padding-top: 200px;
    color: rgba(255, 255, 255, 0.822);
    font-family: 'Reggae One', cursive;
    font-size: 4em;
}

.textInfo{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Reggae One', cursive;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.466);
    border-radius: 50px;
    width: 700px;
    margin: auto;
    box-shadow:  2px 3px 4px 2px #ff0000ad,
                2px 3px 4px 2px #f84646;
    padding-bottom: 10px;
}
.ConfigTittle{
    padding-top: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Reggae One', cursive;
    font-size: 3em;
}

.GamesTittle{
  padding-top: 50px;
  color: rgb(0, 0, 0);
  font-family: 'Reggae One', cursive;
  font-size: 3em;
}

.HomeButton {
    display: inline-block;
    margin-top: 3em;
    font-family: 'Reggae One', cursive;
    font-size: 2em;
    padding: 10px 30px;
    border-radius: 100px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
    background: #f14f4f;
  }
  
  .HomeButton:hover,
  .HomeButton.active {
      color: rgba(255, 255, 255, 0.781);
      background: #ff0000;
  }
  .ButtonDelete {
    display: inline-block;
    font-family: 'Reggae One', cursive;
    font-size: 1em;
    padding: 10px 27px;
    border-radius: 100px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
    background: #310b0b;
  }
  
  .ButtonDelete:hover,
  .ButtonDelete.active {
      color: rgba(255, 255, 255, 0.781);
      background: #ff0000;
  }

  .ButtonRun {
    display: inline-block;
    font-family: 'Reggae One', cursive;
    font-size: 1em;
    padding: 10px 27px;
    border-radius: 100px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
    background: #050e04;
  }
  
  .ButtonRun:hover,
  .ButtonRun.active {
      color: rgba(255, 255, 255, 0.781);
      background: #358510;
  }
  
  .FormButtonConfirm{
    display: inline-block;
    margin-top: 10px;
    font-family: 'Reggae One', cursive;
    font-size: 1.5em;
    margin-left: 5px;
    padding: 10px 30px;
    border-radius: 100px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
    background: #4fad7a;
  }
  .FormButtonConfirm:hover,
  .FormButtonConfirm.active{
    color: rgba(255, 255, 255, 0.781);
    background: #245e35;
  }
  .FormButtonCancel{
    display: inline-block;
    margin-top: 10px;
    font-family: 'Reggae One', cursive;
    font-size: 1.5em;
    margin-left: 5px;
    padding: 10px 30px;
    border-radius: 100px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
    background: #f14f4f;
  }
  .FormButtonCancel:hover,
  .FormButtonCancel.active{
    color: rgba(255, 255, 255, 0.781);
    background: #ff0000;
  }
  .container_FormButton{
      padding-bottom:24px ;
  }
  .container_HomeButton{
      padding-bottom: 213px;
  }

.container_Form_Config{
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 18px;
    background: rgba(252, 144, 144, 0.404);
    box-shadow: 2px 2px 3px 2px #ffffff,
                2px 2px 3px 2px #ffffff;
    color: rgba(255, 255, 255, 0.822);
    font-family: 'Reggae One', cursive;
}
.form-control{
    margin-top: 20px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgba(240, 144, 144, 0.425);
    box-shadow:  2px 3px 4px 2px #ff0000ad,
                2px 3px 4px 2px #f84646;
}

.form-control:hover,
.form-control.actvie{
    background: rgba(252, 122, 122, 0.596);
}
.fondo{
  background-attachment: fixed;
}
table {
	text-align: center;
	line-height: 40px;
	border-collapse: separate;
	border-spacing: 0;
	margin: 50px auto;
	border-radius: .25rem;
	padding: 35px;
	background-color: rgba(95, 16, 16, 0.7);
	width: 80%;
	box-shadow: 5px 7px 30px 5px #f32727;
  margin-bottom: 267px;
}

thead tr .tittleTable {
	border-bottom: 3px solid #fd3737;
	color: #fff;
}

tbody tr:hover {
	background-color: #f83030;
	cursor: default;
}

tbody td, tr {
	color: #fff;
  align-items: center;
  border-spacing: 2em;
	border-bottom: 1px solid #e43535e0;
	padding: 10px;
  font-family: 'Reggae One', cursive;
  font-size: 1.1em;
}

.modalcl{
  text-align: center;
	border-radius: .25rem;
	padding: 35px;
	background-color: rgba(95, 16, 16, 0.596);
	box-shadow: 2px 4px 4px 2px #f32727;
}